*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 0 auto;
    width: 85%;

}
.half-width{
    float: left;
    width: 40%;
    padding: 2%;
    margin: 5%;
  
}
.half-width h1{
    font-size: 55px;
    font-weight: bold;
}
.half-width h2{
    font-size: 40px;
    font-weight: bold;

}
.half-width h3{
    font-size: 25px;
    font-weight: bold;
  
}
.half-width p{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 10px;
   
}


.half-width a{
    text-decoration: none;
    background-image: linear-gradient( orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    margin-top: 10px;
}

section::after{
    display: block;
    content: "";
    clear: both;
}

.half-width img{
    width: 100%; 
    
}
.dream-area{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area {
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
  
}
.box-shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
}